.enhancement-link-marker, .enhancement-image-marker {
    color: var(--joplin-url-color) !important;
    text-decoration: underline;
}

span.enhancement-joplin-icon {
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1536 1792' xmlns='http://www.w3.org/2000/svg'><path d='M373.834 128C168.227 128 0 296.223 0 501.834v788.336C0 1495.778 168.227 1664 373.834 1664h788.336c205.608 0 373.83-168.222 373.83-373.83V501.834C1536 296.224 1367.778 128 1162.17 128zm397.222 205.431h417.424a7.132 7.132 0 0 1 7.132 7.133v132.552c0 4.461-3.619 8.073-8.077 8.073h-57.23c-24.168 0-43.768 19.338-44.284 43.374v2.377h-.017v136.191h-.053l-.466 509.375c-5.02 77.667-39.222 149.056-96.324 201.046-60.28 54.834-141.948 85.017-229.962 85.017-12.45 0-25.208-.61-37.907-1.785-92.157-8.682-181.494-48.601-251.662-112.438-71.99-65.517-117.147-150.03-127.164-238-11.226-98.763 23.42-192.783 95.045-257.937 81.99-74.637 198.185-101.768 316.613-75.704 5.574 1.227 9.55 6.282 9.55 11.997v199.52c-.199 2.625-1.481 6.599-8.183 2.896-.663-.365-1.194-.511-1.653-.531-21.987-10.587-45.159-17.57-68.559-19.916-.38-.04-.757-.124-1.138-.163-.537-.048-1.034-.033-1.556-.075-4.13-.354-8.183-.517-12.203-.58-.87-.011-1.771-.127-2.641-.127-.486 0-.951.05-1.437.057-1.464.011-2.886.115-4.33.163-2.76.102-5.497.211-8.182.448-.273.024-.547.07-.835.097-25.509 2.4-47.864 11.104-65.012 25.47-.954.802-1.974 1.53-2.9 2.36a1.34 1.34 0 0 1-.168.146c-23.96 21.8-34.881 53.872-30.726 90.316 4.62 40.737 26.94 81.156 62.841 113.823 35.908 32.67 80.335 52.977 125.113 57.186 35.118 3.36 66.547-3.919 89.899-20.461a97.255 97.255 0 0 0 9.365-7.501c2.925-2.661 5.569-5.5 8.086-8.416.3-.348.672-.673.975-1.024 8.253-9.864 14.222-21.067 17.996-33.148.639-2.034 1.051-4.148 1.564-6.227.381-1.563.81-3.106 1.112-4.693.555-2.784.923-5.632 1.253-8.49.086-.709.183-1.414.237-2.128.492-4.893.693-9.858.55-14.91h.013V521.623c-2.01-22.626-20.78-40.434-43.928-40.434h-57.23a8.071 8.071 0 0 1-8.077-8.073V340.564a7.132 7.132 0 0 1 7.136-7.133z'/></svg>");
    -webkit-mask-repeat: no-repeat;
    height: 1.2em;
    width: 1.2em;
    display: inline-block;
    vertical-align: middle;
    background-color: var(--joplin-url-color);
}

span.enhancement-joplin-icon-big {
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1536 1792' xmlns='http://www.w3.org/2000/svg'><path d='M373.834 128C168.227 128 0 296.223 0 501.834v788.336C0 1495.778 168.227 1664 373.834 1664h788.336c205.608 0 373.83-168.222 373.83-373.83V501.834C1536 296.224 1367.778 128 1162.17 128zm397.222 205.431h417.424a7.132 7.132 0 0 1 7.132 7.133v132.552c0 4.461-3.619 8.073-8.077 8.073h-57.23c-24.168 0-43.768 19.338-44.284 43.374v2.377h-.017v136.191h-.053l-.466 509.375c-5.02 77.667-39.222 149.056-96.324 201.046-60.28 54.834-141.948 85.017-229.962 85.017-12.45 0-25.208-.61-37.907-1.785-92.157-8.682-181.494-48.601-251.662-112.438-71.99-65.517-117.147-150.03-127.164-238-11.226-98.763 23.42-192.783 95.045-257.937 81.99-74.637 198.185-101.768 316.613-75.704 5.574 1.227 9.55 6.282 9.55 11.997v199.52c-.199 2.625-1.481 6.599-8.183 2.896-.663-.365-1.194-.511-1.653-.531-21.987-10.587-45.159-17.57-68.559-19.916-.38-.04-.757-.124-1.138-.163-.537-.048-1.034-.033-1.556-.075-4.13-.354-8.183-.517-12.203-.58-.87-.011-1.771-.127-2.641-.127-.486 0-.951.05-1.437.057-1.464.011-2.886.115-4.33.163-2.76.102-5.497.211-8.182.448-.273.024-.547.07-.835.097-25.509 2.4-47.864 11.104-65.012 25.47-.954.802-1.974 1.53-2.9 2.36a1.34 1.34 0 0 1-.168.146c-23.96 21.8-34.881 53.872-30.726 90.316 4.62 40.737 26.94 81.156 62.841 113.823 35.908 32.67 80.335 52.977 125.113 57.186 35.118 3.36 66.547-3.919 89.899-20.461a97.255 97.255 0 0 0 9.365-7.501c2.925-2.661 5.569-5.5 8.086-8.416.3-.348.672-.673.975-1.024 8.253-9.864 14.222-21.067 17.996-33.148.639-2.034 1.051-4.148 1.564-6.227.381-1.563.81-3.106 1.112-4.693.555-2.784.923-5.632 1.253-8.49.086-.709.183-1.414.237-2.128.492-4.893.693-9.858.55-14.91h.013V521.623c-2.01-22.626-20.78-40.434-43.928-40.434h-57.23a8.071 8.071 0 0 1-8.077-8.073V340.564a7.132 7.132 0 0 1 7.136-7.133z'/></svg>");
    -webkit-mask-repeat: no-repeat;
    height: 2em;
    width: 2em;
    display: inline-block;
    vertical-align: middle;
    background-color: var(--joplin-url-color);
}

span.enhancement-zotero-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' width='64px' height='64px'%3E%3Cpolygon fill='%23d0d8ec' points='32 61 57 49 32 38 7 49'/%3E%3Cpolygon fill='%23e3e8f6' points='32 38 7 49 7 15 32 3'/%3E%3Cpolygon fill='%23c4cce5' points='32 38 57 49 57 15 32 3'/%3E%3Cpolygon fill='%23d27795' points='45 42 42 38 33.529 38 30 42'/%3E%3Cpolygon fill='%23d982a2' points='19 17 45 17 45 25 30 42 45 42 45 50 19 50 19 42 34 25 19 25'/%3E%3Cpolygon fill='%23d37796' points='19 17 22 13 42 13 45 17'/%3E%3Cpath fill='%23836c9b' d='M44.828 62.392c-0.373 0-0.73-0.209-0.902-0.567l-0.866-1.803c-0.239-0.497-0.029-1.095 0.469-1.334 c0.499-0.241 1.096-0.028 1.334 0.469l0.866 1.803c0.239 0.497 0.029 1.095-0.469 1.334C45.12 62.36 44.973 62.392 44.828 62.392z'/%3E%3Cpath fill='%23836c9b' d='M48.935 60.421c-0.373 0-0.73-0.209-0.902-0.567l-0.865-1.803c-0.239-0.498-0.029-1.095 0.469-1.334 c0.499-0.241 1.095-0.028 1.334 0.469l0.865 1.803c0.239 0.498 0.029 1.095-0.469 1.334C49.227 60.39 49.079 60.421 48.935 60.421z'/%3E%3Cpath fill='%23836c9b' d='M53.041 58.45c-0.373 0-0.73-0.209-0.902-0.567l-0.865-1.803c-0.239-0.498-0.029-1.095 0.469-1.334 c0.5-0.243 1.095-0.029 1.334 0.469l0.865 1.803c0.239 0.498 0.029 1.095-0.469 1.334C53.333 58.419 53.186 58.45 53.041 58.45z'/%3E%3Cpath fill='%23836c9b' d='M57.148 56.479c-0.373 0-0.73-0.209-0.902-0.567l-0.865-1.804c-0.239-0.498-0.029-1.096 0.469-1.334 c0.5-0.243 1.095-0.029 1.334 0.469l0.865 1.804c0.239 0.498 0.029 1.096-0.469 1.334C57.44 56.447 57.293 56.479 57.148 56.479z'/%3E%3Cpath fill='%23836c9b' d='M57.43 14.1l-25-12c0 0-0.01 0-0.02-0.01C32.29 2.04 32.15 2 32.01 2C32 2 32 2 31.99 2c-0.14 0-0.28 0.04-0.4 0.09C31.58 2.1 31.57 2.1 31.57 2.1l-25 12C6.22 14.27 6 14.62 6 15v34.01c0 0.06 0.02 0.11 0.03 0.16c0.01 0.06 0.02 0.13 0.04 0.19c0.01 0.01 0.01 0.03 0.02 0.04c0 0.01 0 0.01 0 0.02c0.05 0.1 0.11 0.19 0.19 0.27c0.02 0.02 0.04 0.03 0.06 0.05c0.06 0.05 0.12 0.1 0.19 0.14c0.02 0 0.02 0.02 0.04 0.02l25 12C31.7 61.97 31.85 62 32 62s0.3-0.03 0.43-0.1l25-12c0.01 0 0.01-0.01 0.02-0.01c0.01-0.01 0.02-0.01 0.03-0.02c0.05-0.02 0.1-0.05 0.14-0.09c0.02-0.01 0.03-0.03 0.05-0.04c0.01-0.01 0.01-0.01 0.02-0.02c0.01-0.01 0.02-0.03 0.04-0.04c0.01-0.02 0.03-0.03 0.04-0.05c0.02-0.03 0.04-0.04 0.06-0.07c0-0.01 0.01-0.01 0.01-0.02l0.01-0.02c0.01-0.02 0.02-0.05 0.03-0.08c0.02-0.02 0.04-0.05 0.05-0.08c0-0.02 0.01-0.04 0.02-0.05c0-0.01 0-0.01 0-0.01c0.01-0.01 0.01-0.02 0.01-0.04c0.01 0 0.01-0.01 0-0.02c0.01-0.01 0.01-0.02 0.02-0.04c0-0.02 0.01-0.03 0-0.05C58 49.1 58 49.05 58 49V15C58 14.62 57.78 14.27 57.43 14.1z M41.5 14l2.5 3.33v7.29L29.25 41.34c-0.26 0.29-0.32 0.71-0.16 1.07C29.25 42.77 29.61 43 30 43h14v6H20v-6.62L20.34 42l14.41-16.34c0.26-0.29 0.32-0.71 0.16-1.07C34.75 24.23 34.39 24 34 24H20v-6.67L22.5 14H41.5z M33.98 39h7.52l1.5 2H32.22l1.15-1.3L33.98 39z M32 59.89L9.36 49.02l1.94-0.89c0.51-0.23 0.73-0.82 0.5-1.32c-0.23-0.5-0.83-0.72-1.33-0.5L8 47.44V15.63L31 4.59V12h-9c-0.31 0-0.61 0.15-0.8 0.4l-2.91 3.89c-0.13 0.14-0.23 0.31-0.27 0.51C18.01 16.86 18 16.93 18 17v8c0 0.55 0.45 1 1 1h12.78L18.25 41.34C18.09 41.52 18 41.76 18 42v1.02l-3.85 1.68c-0.51 0.22-0.74 0.81-0.52 1.32c0.17 0.37 0.53 0.6 0.92 0.6c0.13 0 0.27-0.03 0.4-0.09L18 45.2V50c0 0.55 0.45 1 1 1h26c0.55 0 1-0.45 1-1v-4.74l8.61 3.78L32 59.89z M56 47.46l-10-4.4V42c0-0.07-0.01-0.14-0.02-0.2c-0.04-0.2-0.14-0.37-0.27-0.51L42.8 37.4C42.61 37.15 42.31 37 42 37h-6.25l10-11.34C45.91 25.48 46 25.24 46 25v-8c0-0.07-0.01-0.14-0.02-0.2c-0.04-0.2-0.14-0.37-0.27-0.51L42.8 12.4C42.61 12.15 42.31 12 42 12h-9V4.59l23 11.04V47.46z'/%3E%3C/svg%3E");
    background-size: contain;
    height: 1.2em;
    width: 1.2em;
    display: inline-block;
    vertical-align: middle;
}

span.enhancement-zotero-icon-big {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' width='64px' height='64px'%3E%3Cpolygon fill='%23d0d8ec' points='32 61 57 49 32 38 7 49'/%3E%3Cpolygon fill='%23e3e8f6' points='32 38 7 49 7 15 32 3'/%3E%3Cpolygon fill='%23c4cce5' points='32 38 57 49 57 15 32 3'/%3E%3Cpolygon fill='%23d27795' points='45 42 42 38 33.529 38 30 42'/%3E%3Cpolygon fill='%23d982a2' points='19 17 45 17 45 25 30 42 45 42 45 50 19 50 19 42 34 25 19 25'/%3E%3Cpolygon fill='%23d37796' points='19 17 22 13 42 13 45 17'/%3E%3Cpath fill='%23836c9b' d='M44.828 62.392c-0.373 0-0.73-0.209-0.902-0.567l-0.866-1.803c-0.239-0.497-0.029-1.095 0.469-1.334 c0.499-0.241 1.096-0.028 1.334 0.469l0.866 1.803c0.239 0.497 0.029 1.095-0.469 1.334C45.12 62.36 44.973 62.392 44.828 62.392z'/%3E%3Cpath fill='%23836c9b' d='M48.935 60.421c-0.373 0-0.73-0.209-0.902-0.567l-0.865-1.803c-0.239-0.498-0.029-1.095 0.469-1.334 c0.499-0.241 1.095-0.028 1.334 0.469l0.865 1.803c0.239 0.498 0.029 1.095-0.469 1.334C49.227 60.39 49.079 60.421 48.935 60.421z'/%3E%3Cpath fill='%23836c9b' d='M53.041 58.45c-0.373 0-0.73-0.209-0.902-0.567l-0.865-1.803c-0.239-0.498-0.029-1.095 0.469-1.334 c0.5-0.243 1.095-0.029 1.334 0.469l0.865 1.803c0.239 0.498 0.029 1.095-0.469 1.334C53.333 58.419 53.186 58.45 53.041 58.45z'/%3E%3Cpath fill='%23836c9b' d='M57.148 56.479c-0.373 0-0.73-0.209-0.902-0.567l-0.865-1.804c-0.239-0.498-0.029-1.096 0.469-1.334 c0.5-0.243 1.095-0.029 1.334 0.469l0.865 1.804c0.239 0.498 0.029 1.096-0.469 1.334C57.44 56.447 57.293 56.479 57.148 56.479z'/%3E%3Cpath fill='%23836c9b' d='M57.43 14.1l-25-12c0 0-0.01 0-0.02-0.01C32.29 2.04 32.15 2 32.01 2C32 2 32 2 31.99 2c-0.14 0-0.28 0.04-0.4 0.09C31.58 2.1 31.57 2.1 31.57 2.1l-25 12C6.22 14.27 6 14.62 6 15v34.01c0 0.06 0.02 0.11 0.03 0.16c0.01 0.06 0.02 0.13 0.04 0.19c0.01 0.01 0.01 0.03 0.02 0.04c0 0.01 0 0.01 0 0.02c0.05 0.1 0.11 0.19 0.19 0.27c0.02 0.02 0.04 0.03 0.06 0.05c0.06 0.05 0.12 0.1 0.19 0.14c0.02 0 0.02 0.02 0.04 0.02l25 12C31.7 61.97 31.85 62 32 62s0.3-0.03 0.43-0.1l25-12c0.01 0 0.01-0.01 0.02-0.01c0.01-0.01 0.02-0.01 0.03-0.02c0.05-0.02 0.1-0.05 0.14-0.09c0.02-0.01 0.03-0.03 0.05-0.04c0.01-0.01 0.01-0.01 0.02-0.02c0.01-0.01 0.02-0.03 0.04-0.04c0.01-0.02 0.03-0.03 0.04-0.05c0.02-0.03 0.04-0.04 0.06-0.07c0-0.01 0.01-0.01 0.01-0.02l0.01-0.02c0.01-0.02 0.02-0.05 0.03-0.08c0.02-0.02 0.04-0.05 0.05-0.08c0-0.02 0.01-0.04 0.02-0.05c0-0.01 0-0.01 0-0.01c0.01-0.01 0.01-0.02 0.01-0.04c0.01 0 0.01-0.01 0-0.02c0.01-0.01 0.01-0.02 0.02-0.04c0-0.02 0.01-0.03 0-0.05C58 49.1 58 49.05 58 49V15C58 14.62 57.78 14.27 57.43 14.1z M41.5 14l2.5 3.33v7.29L29.25 41.34c-0.26 0.29-0.32 0.71-0.16 1.07C29.25 42.77 29.61 43 30 43h14v6H20v-6.62L20.34 42l14.41-16.34c0.26-0.29 0.32-0.71 0.16-1.07C34.75 24.23 34.39 24 34 24H20v-6.67L22.5 14H41.5z M33.98 39h7.52l1.5 2H32.22l1.15-1.3L33.98 39z M32 59.89L9.36 49.02l1.94-0.89c0.51-0.23 0.73-0.82 0.5-1.32c-0.23-0.5-0.83-0.72-1.33-0.5L8 47.44V15.63L31 4.59V12h-9c-0.31 0-0.61 0.15-0.8 0.4l-2.91 3.89c-0.13 0.14-0.23 0.31-0.27 0.51C18.01 16.86 18 16.93 18 17v8c0 0.55 0.45 1 1 1h12.78L18.25 41.34C18.09 41.52 18 41.76 18 42v1.02l-3.85 1.68c-0.51 0.22-0.74 0.81-0.52 1.32c0.17 0.37 0.53 0.6 0.92 0.6c0.13 0 0.27-0.03 0.4-0.09L18 45.2V50c0 0.55 0.45 1 1 1h26c0.55 0 1-0.45 1-1v-4.74l8.61 3.78L32 59.89z M56 47.46l-10-4.4V42c0-0.07-0.01-0.14-0.02-0.2c-0.04-0.2-0.14-0.37-0.27-0.51L42.8 37.4C42.61 37.15 42.31 37 42 37h-6.25l10-11.34C45.91 25.48 46 25.24 46 25v-8c0-0.07-0.01-0.14-0.02-0.2c-0.04-0.2-0.14-0.37-0.27-0.51L42.8 12.4C42.61 12.15 42.31 12 42 12h-9V4.59l23 11.04V47.46z'/%3E%3C/svg%3E");
    background-size: contain;
    height: 2em;
    width: 2em;
    display: inline-block;
    vertical-align: middle;
}

span.enhancement-www-icon {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 32 32' style='enable-background:new 0 0 32 32;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:url(%23SVGID_1_);%7D%0A%3C/style%3E%3ClinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='1.066' y1='10.5632' x2='30.9401' y2='21.4365'%3E%3Cstop offset='0' style='stop-color:%232183BF'/%3E%3Cstop offset='1' style='stop-color:%2319086D'/%3E%3C/linearGradient%3E%3Cpath class='st0' d='M6.5,6.2c0.4,0.3,0.9,0.7,1.4,0.9C7.6,7.8,7.4,8.4,7.2,9h1.9c0.1-0.3,0.2-0.6,0.3-1c0.9,0.4,1.8,0.7,2.8,1h7.5 c1-0.2,1.9-0.6,2.8-1c0.1,0.3,0.2,0.6,0.3,1h1.9c-0.2-0.6-0.4-1.2-0.6-1.8c0.5-0.3,0.9-0.6,1.4-0.9C26.3,7.1,27.1,8,27.7,9h2.7 C27.8,3.7,22.3,0,16,0C9.7,0,4.2,3.7,1.6,9h2.7C4.9,8,5.7,7.1,6.5,6.2z M24.1,5.1c-0.2,0.2-0.5,0.3-0.8,0.5c-0.3-0.6-0.7-1.1-1-1.6 C23,4.3,23.5,4.7,24.1,5.1z M21.8,6.4c-0.8,0.4-1.6,0.7-2.5,0.9c-0.2-1.7-0.6-3.4-1.1-4.7C19.6,3.3,20.8,4.7,21.8,6.4z M15.8,2.4 c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0,0.2,0c0.4,0.7,1,2.5,1.4,5.2c-0.5,0.1-1,0.1-1.5,0.1c-0.5,0-1,0-1.5-0.1C14.9,4.9,15.4,3.1,15.8,2.4 z M13.8,2.7c-0.5,1.3-0.8,2.9-1.1,4.6c-0.8-0.2-1.7-0.5-2.5-0.9C11.2,4.7,12.4,3.4,13.8,2.7z M9.7,3.9C9.3,4.4,9,5,8.6,5.6 C8.4,5.4,8.1,5.3,7.9,5.1C8.5,4.7,9.1,4.3,9.7,3.9z M25.5,25.8c-0.4-0.3-0.9-0.7-1.4-0.9c0.2-0.6,0.5-1.2,0.6-1.8h-1.9 c-0.1,0.3-0.2,0.7-0.3,1c-0.9-0.4-1.8-0.7-2.8-1h-7.5c-1,0.2-1.9,0.5-2.8,1c-0.1-0.3-0.2-0.6-0.3-1H7.2c0.2,0.6,0.4,1.2,0.6,1.8 c-0.5,0.3-0.9,0.6-1.4,0.9C5.7,24.9,4.9,24,4.3,23H1.6c2.6,5.3,8.1,9,14.4,9s11.8-3.7,14.4-9h-2.7C27.1,24,26.3,24.9,25.5,25.8z M7.9,26.9c0.2-0.2,0.5-0.4,0.7-0.5c0.3,0.6,0.7,1.1,1,1.6C9.1,27.7,8.5,27.4,7.9,26.9z M10.3,25.6c0.8-0.4,1.6-0.7,2.5-0.9 c0.2,1.7,0.6,3.4,1.1,4.6C12.4,28.6,11.2,27.3,10.3,25.6z M16.2,29.6c-0.1,0-0.1,0-0.2,0s-0.1,0-0.2,0c-0.4-0.7-1-2.5-1.4-5.2 c0.5-0.1,1-0.1,1.5-0.1c0.5,0,1,0,1.5,0.1C17.1,27.1,16.6,28.9,16.2,29.6z M18.2,29.4c0.5-1.3,0.8-2.9,1.1-4.7 c0.9,0.2,1.7,0.5,2.5,0.9C20.8,27.3,19.6,28.7,18.2,29.4z M22.3,28.1c0.4-0.5,0.7-1.1,1-1.6c0.3,0.2,0.5,0.3,0.8,0.5 C23.5,27.4,23,27.7,22.3,28.1z M4.8,19.2l0.6-2.2c0.2-0.6,0.3-1.2,0.4-2h0c0.1,0.8,0.2,1.4,0.4,2l0.6,2.2h1.9l1.9-6.4H8.7l-0.5,2.5 c-0.1,0.7-0.3,1.4-0.4,2.2h0c-0.1-0.7-0.3-1.4-0.5-2.2l-0.6-2.5H5.1l-0.7,2.6c-0.2,0.6-0.3,1.4-0.5,2.1h0c-0.1-0.7-0.2-1.4-0.4-2.1 l-0.5-2.6h-2l1.8,6.4L4.8,19.2L4.8,19.2z M18.3,15.3c-0.1,0.7-0.3,1.4-0.4,2.2h0c-0.1-0.7-0.3-1.4-0.5-2.2l-0.6-2.5h-1.6l-0.7,2.6 c-0.2,0.6-0.3,1.4-0.5,2.1h0c-0.1-0.7-0.2-1.4-0.4-2.1l-0.5-2.6h-2l1.8,6.4h1.9l0.6-2.2c0.2-0.6,0.3-1.2,0.4-2h0 c0.1,0.8,0.2,1.4,0.4,2l0.6,2.2h1.9l1.9-6.4h-1.9L18.3,15.3z M28.4,15.3c-0.1,0.7-0.3,1.4-0.4,2.2h0c-0.1-0.7-0.3-1.4-0.5-2.2 l-0.6-2.5h-1.6l-0.7,2.6c-0.2,0.6-0.3,1.4-0.5,2.1h0c-0.1-0.7-0.2-1.4-0.4-2.1l-0.5-2.6h-2l1.8,6.4H25l0.6-2.2 c0.2-0.6,0.3-1.2,0.4-2h0c0.1,0.8,0.2,1.4,0.4,2l0.6,2.2H29l1.9-6.4H29L28.4,15.3z'/%3E%3C/svg%3E%0A");
    -webkit-mask-repeat: no-repeat;
    height: 2em;
    width: 2em;
    display: inline-block;
    vertical-align: middle;
    background-color: var(--joplin-url-color);
}

i.enhancement-link-marker-icon, i.enhancement-image-marker-icon {
    font-family: 'Font Awesome 5 Free' !important;
    font-size: small;
    margin-right: 0.2em;
}

span.enhancement-image-size-text {
    color: gray;
    font-size: smaller;
    margin-left: 0.2em;
}

.enhancement-footnote-marker {
    font-size: smaller;
    background-color: var(--joplin-divider-color);
    vertical-align: super;
    border-radius: 3px;
    padding: 0 2px;
}

.enhancement-block-image-marker-line-widget img,
.enhancement-plantuml-block-marker-line-widget img {
    max-width: 100%;
}

.enhancement-block-image-marker-line-widget figure {
    margin: 0;
    text-align: center;
}

.enhancement-block-image-marker-line-widget figcaption {
    text-align: center;
    opacity: 0.55;
}

.enhancement-block-link-marker-line-widget {
    max-width: 100%;
    text-align: center;
}

.enhancement-horizontal-line-marker-line,
.enhancement-block-link-marker-span-line,
.enhancement-block-image-marker-span-line,
.enhancement-code-block-marker-span-line,
.enhancement-plantuml-block-marker-line {
    display: none;
}

a.enhancement-link-marker-text {
    cursor: pointer;
}

.enhancement-block-link-marker-line-widget audio {
    min-width: 80%;
}

.enhancement-block-link-marker-line-widget video {
    max-width: 100%;
}

.enhancement-link-user-label {
    font-style: italic;
}

.enhancement-code-block-marker-line-widget div {
    font-size: small;
    white-space: pre-wrap;
    background-color: #333333;
    padding: 0.8em;
    color: white;
    border-radius: 0.4em;
    line-height: initial;
}

.enhancement-link-block-text {
    text-align: left;
}

.enhancement-link-block-icon {
    vertical-align: middle;
    float: left;
    margin: 0.5em 0.5em 0.5em 0.5em;
}

.enhancement-link-block {
    border: 1px solid lightgray;
    padding: 8px;
    border-radius: 4px;
    text-align: unset;
}

.enhancement-link-block-url {
    font-size: small;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: 0.55;
}

.enhancement-link-block-title {
    font-size: 1.25em;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.enhancement-link-block i.enhancement-link-marker-icon.fas.fa-link {
    font-size: 1em;
}

.enhancement-link-block-title-warning,
.enhancement-link-block-url-warning {
    color: red;
}

mark.enhancement-html-mark-marker {
    border-radius: 4px;
    padding: 0 2px;
}
