* {
    overflow-wrap: break-word;
    box-sizing: border-box;
}

#joplin-plugin-content {
    width: 900px;
}

main {
    height: 100%;
    width: 100%;
    padding: 30px;
    text-align: center;
}

#selected_refs_list {
    height: 400px;
    width: 100%;
    font-size: 18px;
    margin-top: 30px;
    padding: 15px;
    list-style: none;
    text-align: left;
    overflow-y: auto;
}

#selected_refs_list li {
    padding: 10px 0;
    padding-right: 100px;
    position: relative;
    width: 100%;
}

#selected_refs_list .icon_remove {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: orangered;
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    user-select: none;
}
#selected_refs_list .icon_remove:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
