:root {
    /* 基准字体 */
    /* 备选：Times, "Times New Roman" */
    --base-Latin-font: "Times New Roman", "Times New Roman 10";
    --base-Chinese-font: "宋体-简", "华文宋体", "Noto Serif CJK SC";
    --base-font-size: 11pt;
    --chapter-Chinese-font: "华文黑体";
    --toc-font: "";
}

body {
    counter-reset: h2N h3N h4N liist liiist katex;
}


/* blockquote */
blockquote {
    border-left: 4px solid #0087ed !important;
    border-radius: 2px;
}

mark {
    background-color: mediumseagreen;
    color: white;
    border-radius: 4px;
    padding: 2px;
}

ins {
    text-decoration-color: #fe0013;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
}

img {
    max-width: 100%;
    height: auto;
    text-align: center;
}

.admonition {
    border-left: 4px solid #448aff;
    border-radius: 2px;
}


/* inline code */
.inline-code {
    border: none !important;
    font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace !important;
    white-space: pre-wrap !important;
    word-wrap: normal !important;
    word-break: keep-all !important;
    padding: 2px 4px !important;
    color: #c0341d !important;
    background-color: #fbe5e1 !important;
    border-radius: 4px !important;
}

/* Node Link Favicon */
.note-link-external-website-icon > img {
    margin-top: auto !important;
}

.footnotes {
    counter-set: footnote-item-count;
}

li.footnote-item {
    counter-increment: footnote-item-count;
}

li.footnote-item::marker {
    content: '[' counter(footnote-item-count) ']. ';
}

span.resource-icon.fa-joplin {
    margin-right: 3px;
    margin-bottom: 1px;
    height: 14px;
    width: 12px;
}

/* h2 h3 h4 自动编号 */

h2 {
    counter-increment: h2N;
    counter-reset: h3N h4N;
}

h2::before {
    content: counter(h2N);
    margin-left: -0.5em;
    margin-right: 1em;
}

h3 {
    counter-increment: h3N;
    counter-reset: h4N;
}

h3::before {
    content: counter(h2N) "." counter(h3N);
    margin-left: -0.5em;
    margin-right: 1em;
}

h4 {
    counter-increment: h4N;
}

h4::before {
    content: counter(h2N) "." counter(h3N) "." counter(h4N);
    margin-left: -0.5em;
    margin-right: 1em;
}

p, blockquote, li, td {
    font-family: var(--toc-font), var(--base-Latin-font), var(--base-Chinese-font), serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--base-Latin-font), var(--chapter-Chinese-font);
}

/* ============ 多级列表样式 ============ */
ol {
    /* 有序列表第一级：数字 */
    list-style: decimal;
}

ol ol {
    counter-reset: liist;
    list-style: none;
}

ol ol li {
    counter-increment: liist;
    position: relative;
}

ol ol li::before {
    /* 有序列表第二级：括号加小写字母 */
    content: "(" counter(liist, lower-alpha) ").";
    left: -1.2em;
    margin-right: -0.6em;
    position: relative;
}

ol ol ol {
    counter-reset: liiist;
    list-style: none;
    margin: 0;
}

ol ol ol li {
    counter-increment: liiist;
    position: relative;
}

ol ol ol li::before {
    /* 有序列表第三级：小写罗马数字 */
    content: counter(liiist, lower-roman) ".　　";
    align-self: flex-end;
    position: absolute;
    left: -2rem;
    width: 4.2rem;
    text-align: right;
}

#rendered-md ul, #rendered-md ol {
    margin-bottom: revert !important;
}

li {
    position: relative;
}
/* ============ 多级列表样式END ============ */

figcaption {
    font-family: var(--base-Latin-font), var(--base-Chinese-font), serif;
}

span.katex-display span.katex span.katex-html {
    counter-increment: katex;
}

span.katex-display span.katex span.katex-html::after {
    content: '(' counter(katex) ')';
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

sup.footnote-ref {
    vertical-align: baseline;
    font-size: inherit;
}

div#rendered-md {
    max-width: 750pt;
    margin: auto;
}
