.cm-rm-monospace {
    font-family: monospace !important;
}
.cm-rm-ins {
    text-decoration: underline;
}
.cm-rm-sub {
    vertical-align: sub;
    font-size: smaller;
}
/*.cm-rm-sup {*/
/*    vertical-align: super;*/
/*    font-size: smaller;*/
/*}*/
.cm-rm-highlight {
    background-color: var(--joplin-search-marker-background-color);
    color: var(--joplin-search-marker-color);
}
.CodeMirror-selectedtext.cm-rm-highlight {
    background-color: #e5d3ce;
}
/* Needed for the renderLine indent hack to work */
.CodeMirror pre > * { text-indent: 0px; }

span.cm-variable-2.cm-overlay.cm-rm-todo-priority-1,
span.cm-variable-2.cm-overlay.cm-rm-todo-priority-2,
span.cm-variable-2.cm-overlay.cm-rm-todo-priority-3,
span.cm-variable-2.cm-overlay.cm-rm-todo-priority-4 {
    padding: 1px 2px;
    border-radius: 4px;
    color: white !important;
    opacity: 0.75;
}

span.cm-variable-2.cm-overlay.cm-rm-todo-priority-1 {
    background: #e33e2f;
}

span.cm-variable-2.cm-overlay.cm-rm-todo-priority-2 {
    background: #f8d15f;
}

span.cm-variable-2.cm-overlay.cm-rm-todo-priority-3 {
    background: #549644;
}

span.cm-variable-2.cm-overlay.cm-rm-todo-priority-4 {
    background: #ececec;
}

span.cm-variable-2.cm-overlay.cm-rm-todo-date.cm-overlay.cm-rm-todo-date {
    background: #316cf4;
    padding: 1px 2px;
    border-radius: 4px;
    color: white;
    opacity: 0.75;
}

span.cm-variable-2.cm-overlay.cm-rm-todo-tag.cm-overlay.cm-rm-todo-tag {
    background: #5dc7ec;
    padding: 1px 2px;
    border-radius: 4px;
    color: white;
    opacity: 0.75;
}

span.cm-variable-2.cm-overlay.cm-rm-todo-project.cm-overlay.cm-rm-todo-project {
    background: #f6c344;
    padding: 1px 2px;
    border-radius: 4px;
    color: white;
    opacity: 0.75;
}

.cm-variable-2.cm-rm-list-token,
.cm-variable-3.cm-rm-list-token,
.cm-keyword.cm-rm-list-token {
    visibility: hidden;
    position: relative;
}

.cm-variable-2.cm-rm-list-token:after,
.cm-variable-3.cm-rm-list-token:after,
.cm-keyword.cm-rm-list-token:after {
    visibility: visible;
    content: '\2022';
    position: absolute;
    right: 0;
}
