.cm-rm-monospace {
    font-family: monospace !important;
}
.cm-rm-ins {
    text-decoration: underline;
}
.cm-rm-sub {
    vertical-align: sub;
    font-size: smaller;
}
.cm-rm-sup {
    vertical-align: super;
    font-size: smaller;
}
.cm-rm-highlight {
    background-color: var(--joplin-search-marker-background-color);
    color: var(--joplin-search-marker-color);
}
.CodeMirror-selectedtext.cm-rm-highlight {
    background-color: #e5d3ce;
}
/* Needed for the renderLine indent hack to work */
.CodeMirror pre > * { text-indent: 0px; }

