.cm-editor-marker-keyword {
    color: rgba(88, 172, 222, 0.75);
    font-weight: bold;
}

.cm-editor-marker-left-open,
.cm-editor-marker-keyword,
.cm-editor-marker-colons {
    background-color: #f5f6f8;
}

.cm-editor-marker-left-open {
    border-radius: 1em 0 0 1em;
    color: transparent;
}

.cm-editor-marker-right-close {
    border-radius: 0 1em 1em 0;
    color: transparent;
}

.cm-editor-marker-right-close,
.cm-editor-marker-text {
    background-color: #e3e5e8;
}
