/* for papers */
.paper_tg {
    max-width: 1000px;
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

.paper_tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.paper_tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.paper_tg_title, .paper_tg_from, .paper_tg_tags, .paper_tg_stars, .paper_tg_authors, .paper_tg_from, .paper_tg_year {
    border-color: inherit;
    font-size: large;
    text-align: center;
    vertical-align: middle;
}

th.paper_tg_title {
    font-weight: bold !important;
}

th.paper_tg_abstract {
    border-color: inherit;
    text-align: left;
    vertical-align: top;
}

th.paper_tg_from {
    width: 50%;
}

.paper_tg_tags {
    width: 25%;
}


.noteBoxes
{
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 300px;
}

.type1
{
    border-color: #E76F51;
    background-color: rgba(231, 111, 81, 0.1);
}

.type2
{
    border-color: #2A9D8F;
    background-color: rgba(42, 157, 143, 0.1);
}

.type3
{
    border-color: #0096C7;
    background-color: rgba(0, 150, 199, 0.1);
}

td.paper_tg_notes
{
    border-color: #00B353;
    background-color: rgba(0, 179, 83, 0.1);
}
