span.blockquote-name.blockquote-enhancement::before {
    content: '🖇 ';
}

span.blockquote-date.blockquote-enhancement::before {
    content: '🕰 ';
}

span.blockquote-name.blockquote-enhancement {
    padding-right: 1em;
}

small.blockquote-enhancement-wrap::before {
    content: '\2014 \00A0';
}

small.blockquote-enhancement-wrap {
    background: lavender;
    padding: 2px 6px 2px 4px;
    border-radius: 6px;
}

blockquote > p {
    margin-top: 0;
}
