body {
    counter-set: figNo;
}

figure {
    text-align: center;
}

img {
    text-align: center;
    counter-increment: figNo;
}

figcaption {
    text-align: center;
}

figcaption::before {
    content: 'Fig.' counter(figNo) ': ';
}